body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

.table-bordered td, .table-bordered th {
  border: 0px;
}

td, th, tr, .plus-minus{
  vertical-align: middle;
}

#finalizar{
  display: flex;
  justify-content: center;
  
}

@media (min-width: 769px){
  #mobileCart, #mobileCost, #total-mobile{
    display: none;
  }
   }
 



@media (max-width: 768px){
 #table-of-contents{
   display: none;
 }
  }


