.bg-one{
    background-color: #555555;
}

.bg-two{
    background-color: #446084;
}

.bg-three{
    background-color: #f8f9fb;
}

.card-nombre{
    border-radius: .8em;
}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer{
    margin-top: auto;
  }